#app {
    color: blue;
}

$waveColor1:#2dd4bf;
$shopPanelHeight: calc(100vh - 60px);

h1 {
    color: blue
}


body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.shopBackgroundDiv{
    position: absolute;
    display: flex;
    // align-items: stretch;
    height: 100%;
    margin: 0;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: -2;
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
  background-color: mediumspringgreen;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}

.shop{
  display: flex;
  position: relative;
  height: $shopPanelHeight;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  grid-auto-rows: 300px;
}
.shopPanel{
  overflow: auto;
  display: grid;
  padding:10px;
  grid-template-columns: 1fr 1fr 1fr;
  
align-self: center;
height: 100%;
width: 75vw;
background-color: white;
}



.navBtn{
    cursor:pointer;
      position:relative;
      padding:10px 20px;
      background:black;
      font-size:22px;
      border-top-right-radius:10px;
      border-bottom-left-radius:10px;
      transition:all 1s;
      &:after,&:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        border :0px solid #fff;
        transition:all 1s;
        }
      &:after{
        top:0px;
        left:0px;
        border-top:2px solid white;
        border-left:2px solid white;
      }
      &:before{
        bottom:0px;
        right:0px;
        border-bottom:2px solid white;
        border-right:2px solid white;
      }
      &:hover{
        border-top-right-radius:0px;
      border-bottom-left-radius:0px;
        // background:rgba(0,0,0,.5);
        // color:white;
        &:before,&:after{
          
          width:97%;
          height:97%;
          // border-color:white;
        }
      }
    }

    .data-container{
        background:#ffebee;
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
      }


.navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}
.navItem{
    color: white;
    margin: 0 15px;
    padding: 5px;
    text-decoration: none;
}

.cart {
  // padding-bottom: -5px;
  position: relative;
}

.cartBubble{
  background-color: $waveColor1;
  margin: 0px;
  border-radius: 500px;
  position: absolute;
  top: 38px;
  right: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}



.smallCard {

}

.smallCardImg{
  justify-content: center;
  width: 200px;
  height: 200px;
}

.navRight {
    margin-left: auto;
    
    margin-right: 10px;
}


.button-style{
    color: red;
    border: 1px solid gray;
    padding: 10px;
}



